@font-face {
  font-family: "Spartan";
  src: url("../fonts/Spartan/Spartan-Medium.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost/Jost-Light.ttf");
  font-weight: normal;
  font-style: normal; }
body {
  overflow-x: hidden;
  font-family: "Jost", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Spartan", sans-serif; }

.textRight {
  text-align: right; }

.rsHeader {
  width: 100%;
  background-color: #0a0a0a;
  padding: 1em; }
  .rsHeader svg#logoSVG {
    height: 3em;
    width: 3em;
    position: relative;
    display: inline-block; }
  .rsHeader .menuSet {
    display: inline-block;
    float: right;
    margin: 0; }
    .rsHeader .menuSet a {
      color: white;
      display: inline-block;
      font-size: 1em;
      padding: 0.7em; }
      .rsHeader .menuSet a:hover {
        color: #2d67b0;
        text-decoration: none; }
      .rsHeader .menuSet a:last-child {
        padding-right: 0; }

.blackBox {
  color: white;
  padding-top: 2em;
  padding-bottom: 2em; }

.vhContainer40 {
  height: 40vh;
  position: relative;
  min-height: 10em; }

.vCenter {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%); }

.loadConfirm {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #0a0a0a;
  text-align: center; }

.loader {
  border: 16px solid #fff;
  /* Light grey */
  border-top: 16px solid #32a852;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed; }

.loaderCenter {
  top: calc(50% - 60px);
  left: calc(50% - 60px); }

.padContainer {
  padding-top: 2em; }

.titleContainer {
  background-color: #f3f3f3;
  color: #161616;
  padding: 2em; }
  .titleContainer h1, .titleContainer h2, .titleContainer h3, .titleContainer h4, .titleContainer h5, .titleContainer h6 {
    padding: 0;
    margin: 0; }

.padBottom {
  padding-bottom: 2em; }

.gIcons i {
  color: green !important; }

.contactSection {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #32a852;
  color: white; }

.buttonGroup {
  display: inline-block; }
  .buttonGroup a {
    display: inline-block;
    padding: 1em;
    background-color: white;
    color: #2d67b0;
    text-decoration: none;
    transition: all 0.2s;
    -webkit-transition: all 0.2s; }
    .buttonGroup a:hover {
      color: white;
      background-color: #2d67b0; }

.btnGreen {
  display: inline-block;
  padding: 1em;
  background-color: #32a852;
  color: white;
  text-decoration: none;
  transition: all 0.2s;
  -webkit-transition: all 0.2s; }
  .btnGreen:hover {
    color: white;
    background-color: #1d6330;
    text-decoration: none; }

.textCenter {
  text-align: center; }

.serviceBox {
  text-align: center;
  margin: 1em; }
  .serviceBox i {
    color: #2d67b0;
    font-size: 5em;
    margin-bottom: 0.2em; }

.customCaption {
  text-align: left;
  background-color: white;
  color: black;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(0%, -50%);
  display: inline-block !important;
  box-sizing: content-box;
  width: 70%;
  max-width: 400px;
  padding: 2rem; }
  .customCaption .flexContainer {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    height: 100%; }
    .customCaption .flexContainer .flexBottom {
      justify-content: flex-end;
      display: flex; }
  .customCaption h5 {
    color: #2d67b0;
    font-size: 2rem;
    font-weight: bold; }

@media (max-width: 767px) {
  h1, h2 {
    text-align: center; }

  .contactSection {
    text-align: center; }

  .customCaption {
    text-align: left;
    background-color: white;
    color: black;
    position: relative;
    top: 0;
    left: 0%;
    transform: translate(0%, 0%);
    display: inline-block !important;
    box-sizing: content-box;
    width: calc(100% - 4em);
    max-width: 767px;
    padding: 2rem; }
    .customCaption .flexContainer {
      justify-content: space-between;
      flex-direction: column;
      display: flex;
      height: 100%; }
      .customCaption .flexContainer .flexBottom {
        justify-content: flex-end;
        display: flex; }
    .customCaption h5 {
      color: #2d67b0;
      font-size: 2rem;
      font-weight: bold; } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=styles2.css.map */
