$green: rgb(50,168,82);
$dark-green: rgb(29,99,48);
$blue: rgb(45,103,176);
$dark-blue: rgb(30,93,169);
$black: rgb(10,10,10);
$dark-grey:rgb(22,22,22);
$light-grey:rgb(243,243,243);

$headFont: "Spartan", sans-serif;
$bodyFont: "Jost", sans-serif;

@font-face{
	font-family:"Spartan";
	src:url("../fonts/Spartan/Spartan-Medium.ttf");
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:"Jost";
	src:url("../fonts/Jost/Jost-Light.ttf");
	font-weight:normal;
	font-style:normal;
}


body{
	overflow-x:hidden;
	font-family:$bodyFont;
}
h1, h2, h3, h4, h5, h6{
	font-family:$headFont;
}
.textRight{
	text-align:right;
}

.rsHeader{
	width:100%;
	background-color:$black;
	padding:1em;
	svg#logoSVG{
		height:3em;
		width:3em;
		position:relative;
		display:inline-block;

	}
	.menuSet{
		display:inline-block;
		float:right;
		a{
			color:white;
			display:inline-block;
			font-size:1em;
			padding:0.7em;
			&:hover{
				color:$blue;
				text-decoration:none;
			}
			&:last-child{
				padding-right:0;
			}
		}
		margin:0;
	}

}
.blackBox{
	color:white;
	padding-top:2em;
	padding-bottom:2em;
}
.vhContainer40{
	height:40vh;
	position:relative;
	min-height:10em;
}
.vCenter{
	position:absolute;
	top:50%;
	transform:translate(0%, -50%);
}
.loadConfirm{
	width:100vw;
	height:100vh;
	top:0;
	left:0;
	position:fixed;
	background-color:$black;
	text-align:center;
}

.loader {
  border: 16px solid #fff; /* Light grey */
  border-top: 16px solid $green; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position:fixed;
}
.loaderCenter{
	top:calc(50% - 60px);
	left:calc(50% - 60px);

}
.padContainer{
	padding-top:2em;
}
.titleContainer{
	background-color:$light-grey;
	color:$dark-grey;
	padding:2em;
	h1, h2, h3, h4, h5, h6{
		padding:0;
		margin:0;
	}
}
.padBottom{
	padding-bottom:2em;
}
.gIcons{
	i{
		color:green !important;
	}
}
.contactSection{
	padding-top:2em;
	padding-bottom:2em;
	background-color:$green;
	color:white;
}
.buttonGroup{
	display:inline-block;
	a{
		display:inline-block;
		padding:1em;
		background-color:white;
		color:$blue;
		text-decoration:none;
		transition:all 0.2s;
		-webkit-transition:all 0.2s;
		&:hover{
			color:white;
			background-color:$blue;
		}
	}
}
.btnGreen{
	display:inline-block;
	padding:1em;
	background-color:$green;
	color:white;

	text-decoration:none;
	transition:all 0.2s;
	-webkit-transition:all 0.2s;
	&:hover{
		color:white;
		background-color:$dark-green;
		text-decoration:none;
	}
}
.textCenter{
	text-align:center;
}
.serviceBox{
		text-align:center;
		margin:1em;
		i{
			color:$blue;
			font-size:5em;
			margin-bottom:0.2em;
		}
	}
.customCaption{
	text-align:left;
  background-color:white;
  color:black;
  position:absolute;
  top:50%;
  left:15%;
  transform:translate(0%, -50%);
  display:inline-block !important;
  box-sizing:content-box;
  width:70%;
  max-width:400px;
  padding:2rem;

  .flexContainer{
  	justify-content: space-between;
	flex-direction: column;
	display: flex;
  	height:100%;
	.flexBottom{
		justify-content: flex-end;
 		display: flex;
	}
  }
  
 h5{
 	color:$blue;
 	font-size:2rem;
 	font-weight:bold;
 }
}


@media (max-width: 767px){
	.serviceBox{

	}
	h1, h2{
		text-align:center;
	}
	.contactSection{
		text-align:center;
	}
	.customCaption{
		text-align:left;
	  background-color:white;
	  color:black;
	  position:relative;
	  top:0;
	  left:0%;
	  transform:translate(0%, 0%);
	  display:inline-block !important;
	  box-sizing:content-box;
	  width:calc(100% - 4em);
	  max-width:767px;
	  padding:2rem;

	  .flexContainer{
	  	justify-content: space-between;
		flex-direction: column;
		display: flex;
	  	height:100%;
		.flexBottom{
			justify-content: flex-end;
	 		display: flex;
		}
	  }
	  
	 h5{
	 	color:$blue;
	 	font-size:2rem;
	 	font-weight:bold;
	 }
	}

}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}